.course-people,
.course-info {
    padding: 5px 20px 10px 20px;
    height: calc(100vh - 265px);
    /* або інша висота, залежно від твоєї верстки */
    overflow-y: auto;
    font-family: Arial, sans-serif;
}

.course-info h2 {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px #cecdcd solid;
}

.course-people h2 {
    padding-bottom: 10px;
    border-bottom: 1px #cecdcd solid;

    margin-bottom: 15px;
}

.course-people h2:nth-of-type(2) {
    margin-top: 30px;
}

.course-info h3 {
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px #cecdcd solid;
}

.person-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    justify-content: space-between;
}

.person-card img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    flex-shrink: 0;
}

.person-card .person-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.person-card p {
    margin: 0;
    padding: 2px 0;
}

.ci-porson-icon-container {
    display: block;
    padding-top: 5px;
}

.ci-porson-info-container {
    align-items: center;
    display: flex;
    flex-direction: row;
}



.ci-link-email {
    text-decoration: none;
}

.ci-link-email .icon {
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    line-height: -2;
}

.ci-link-trash {
    text-decoration: none;
    /* display: flex;
    flex-direction: row; */

}

.ci-link-trash .icon {
    color: red;
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
    line-height: -2;
}

.ci-link-trash .icon:hover {
    color: #e60000;

}




.students-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.invite-code-box {
    margin-top: 20px;
}

.invite-code-box input {
    padding: 5px;
    margin-right: 10px;
}

.ci-invate-code-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* height: 25px; */
    align-items: center;
}

.ci-invite-code {
    background-color: #99ceff;
    border-radius: 10px;
    padding: 5px 12px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.ci-button-generate-code {
    padding: 6px 10px;
    color: white;
}

.ci-button-generate-code:disabled {
    opacity: 60%;
    cursor: not-allowed;
}

.tooltip {
    position: absolute;
    top: -30px;
    left: 0;
    background-color: #969696;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

.ci-delete-course-container {
    margin-top: 40px;
    display: flex;

}

.ci-delete-course-button {
    background-color: #dc3545;
    color: rgb(255, 255, 255);
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

.ci-delete-course-button:hover {
    background-color: #c82333;
}

.no-students-message {
    text-align: center;
    font-style: italic;
    color: gray;
    margin-top: 1rem;
}

.ci-link-profile-teacher {
    text-decoration: none;
    color: black;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .ci-invate-code-container {
        flex-direction: column;
    }

    .ci-button-generate-code {
        margin-top: 15px;
    }

    .ci-invate-code-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ci-delete-course-container {
        justify-content: center;
    }

    .course-info {
        padding: 0;
    }

    .course-people {
        padding: 0;
    }

    .cp-course-page {
        padding: 20px 10px;
    }

}

@media (max-width: 350px) {
    .person-card {
        flex-direction: column;
    }
}